<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
     @RenderBody()

     <div style="background-color:red">             <!--Bayzzz  back to vedio 10 -->
         @RenderSection("Down");
     </div>

     <div style="background-color:red;height: 500px">
         @RenderSection("Up");
     </div>

</body>
</html>
