<h1>weclome to view1</h1>

<div id="div1"> HI</div>

<style>
    #div1{
        background-color:blue;
    }

</style>


@{
    // razor syntax
    // block of code

    int x = 5,y = 6;
    /*
    if (x > y) Console.WriteLine("x greater than y");
    else Console.WriteLine("swap");*/

    if (x > y){
        <h1>x greater than y</h1>
    }
    else{
        <h1>swap</h1>
    } 

    for(int i = 0; i < 4; i++){
        <li>@i</li>
    }

}

<h1>@x</h1> <!--Inline -->